<div ng-if="account.isLoggedIn()">
    <h1>Create content</h1>

    <form ng-submit="add()" role="form">
        <div class="form-group">
            <label>Title:</label>
            <input ng-model="title" class="form-control">
        </div>

        <div class="form-group">
            <label>Body:</label>
            <textarea ng-model="body" class="form-control" rows="3"></textarea>
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-primary">
        </div>
    </form>
</div>
